<!DOCTYPE html>

<html lang="en">
  <head>
      <script src="{{ url_for('static',filename='code.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static',filename='styles/sheet.css') }}">
      <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
</head>
<body>
  <div class="image-container">
    <img src="../static/images/vchlogo.png" alt="Image description">
  </div>
  <div class="login-card">
    <h2>VR Examination Portal</h2>
    <div>
      <input id="username" placeholder=" " type="text" required>
      <label for="username">Username</label>
    </div>
    <div>
      <input id="password" placeholder=" " type="password" required>
      <label for="password">Password</label>
    </div>
    <button id ="submit" onclick = "readLogin()">Log In</button>
    <label id="message"></label>
  </div>
  <script>
        var button = document.getElementById("submit");
        var textBox = document.getElementById("password");

        textBox.addEventListener("keyup", function (event) {

            // Checking if key pressed is ENTER or not
            // if the key pressed is ENTER
            // click listener on button is called
            if (event.keyCode == 13) {
                button.click();
            }
        });
    </script>
</body>
</html>
