<!DOCTYPE html>

<html lang="en">
  <head>
      <script src="{{ url_for('static',filename='code.js') }}"></script>
      <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
  </head>
  <body onload="javascript:initializePatients()">
    <h1>Select Patient</h1>
    <h2>You may also upload your own data<h2>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    <div class="row">
    <div class="centerColumn">
        <div class="card" id="patientList">


        </div>
    </div>
    </div>
  </body>
</html>
